<div class="container">
<button type="button" class="boton-1" (click) = "value = 1" >Boton1</button>

<button type="button" class="boton-2" (click) = "value = 2">Boton2</button>

<button type="button" class="boton-3" (click) = "value = 3">Boton3</button>

</div>

<div class="informacion" [ngSwitch]="value">
  <span *ngSwitchCase="0">Boton1 - Boton2 - Boton3</span>
  <span *ngSwitchCase="1">Boton1</span>
  <span *ngSwitchCase="2">Boton2</span>
  <span *ngSwitchDefault>Boton 3 por default</span>
</div>
