* {
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
  
}


button{
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}


button:hover{
  background-color: grey;
  color: white;
}


.boton-1{
  
  background-color: grey;
  
}


.boton-2{
  
  border-color: rgb(0, 162, 255);
  background-color: rgb(183, 233, 233);
}


.boton-3{
  
  background-color: rgb(164, 236, 164);
  border-color: rgb(131, 216, 131);
}

span{
  width: 287px;
  margin-top: 20px;
  margin-left: 39%;
  display: block;
  border: 1px solid black;
  border-style: dashed;
  text-align: center;
}


